.estProceso{
    background: #e5eeff;
}
.estCompletado{
    background: #cdffe1;
}
.estEliminado{
    background: #ffbec7;
}
.estCancelado{
    background: #fff6d8;
}
.estNovedad{
    background: #eadaff;
}
.estEnviando{
    background: #96ffc0;
}