<div class="row">
    <div class="col-12">

    </div>
    <div class="col-12">
        <table class="table" infiniteScroll [infiniteScrollDistance]="3"
        [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
            <thead>
              <tr>
                <th scope="col">Opciones</th>
                <th scope="col">Codigo</th>
                <th scope="col">Cedula Cliente</th>
                <th scope="col">Nombre Cliente</th>
                <th scope="col">Numero Cliente</th>
                <th scope="col">Nombre Vendedor</th>
                <th scope="col">Cedula Vendedor</th>
                <th scope="col">Numero Vendedor</th>
                <th scope="col">Comision</th>
                <th scope="col">Precio Total</th>
                <th scope="col">Ciudad Cliente</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataTablet.data">
                <th scope="row" style="width: 10%;">
                    <div class="d-flex flex-row bd-highlight mb-3">
                        <div>
                            <button type="button" class="btn btn-primary" [routerLink]="['/dashboard/formOrdenes', item.id ]">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-danger">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </th>  
                <th scope="row">{{ item.codigo }}</th>
                <td>{{ item.cedulaCliente }}</td>
                <td>{{ item['idCliente']?.nombre }}  {{ item['idCliente']?.apellido }}</td>
                <td>{{ item['idCliente']?.celular }}</td>
                <td>{{ item['idVendedor']?.nombre }}</td>
                <td>{{ item['idVendedor']?.cedula }}</td>
                <td>{{ item['idVendedor']?.celular }}</td>
                <td>{{ item.comision }}</td>
                <td>{{ item.precio }}</td>
                <td>{{ item.ciudadCliente }}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-12" *ngIf="progreses">
        <div class="d-flex justify-content-center row">
            <div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div>
            <div class="spinner-grow text-secondary" role="status"><span class="sr-only">Loading...</span></div>
            <div class="spinner-grow text-success" role="status"><span class="sr-only">Loading...</span></div>
            <div class="spinner-grow text-danger" role="status"><span class="sr-only">Loading...</span></div>
            <div class="spinner-grow text-warning" role="status"><span class="sr-only">Loading...</span></div>
            <div class="spinner-grow text-info" role="status"><span class="sr-only">Loading...</span></div>
            <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
            <div class="spinner-grow text-dark" role="status"><span class="sr-only">Loading...</span></div>
        </div>
    </div>

    <div class="col-12" *ngIf="!progreses && dataTablet.count == 0">
        <div class="d-flex justify-content-center row">
            <div role="alert" class="alert alert-primary">No Hay Datos Para Mostrar</div>
        </div>
    </div>

</div>