<div class="content">
    <div class="row">
        <div class="col-12">
            <div>
                <div class="d-flex flex-row-reverse bd-highlight">
                    <div>
                        <button type="button" class="btn btn-success">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-xs-3">
            <label for="exampleInputEmail1">Titulo</label>
            <input type="text" class="form-control" [(ngModel)]="data.titulo">
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-xs-3">
            <label for="exampleInputEmail1">Titulo</label>
            <input type="text" class="form-control" [(ngModel)]="data.titulo">
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-xs-3">
            <label for="exampleInputEmail1">Titulo</label>
            <input type="text" class="form-control" [(ngModel)]="data.titulo">
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-xs-3">
            <label for="exampleInputEmail1">Titulo</label>
            <input type="text" class="form-control" [(ngModel)]="data.titulo">
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-xs-3">
            <label for="exampleInputEmail1">Titulo</label>
            <input type="text" class="form-control" [(ngModel)]="data.titulo">
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-xs-3">
            <label for="exampleInputEmail1">Titulo</label>
            <input type="text" class="form-control" [(ngModel)]="data.titulo">
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-xs-3">
            <label for="exampleInputEmail1">Titulo</label>
            <input type="text" class="form-control" [(ngModel)]="data.titulo">
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-xs-3">
            <label for="exampleInputEmail1">Titulo</label>
            <input type="text" class="form-control" [(ngModel)]="data.titulo">
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-xs-3">
            <label for="exampleInputEmail1">Titulo</label>
            <input type="text" class="form-control" [(ngModel)]="data.titulo">
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-xs-3">
            <label for="exampleInputEmail1">Titulo</label>
            <input type="text" class="form-control" [(ngModel)]="data.titulo">
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-xs-3">
            <label for="exampleInputEmail1">Titulo</label>
            <input type="text" class="form-control" [(ngModel)]="data.titulo">
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-xs-3">
            <label for="exampleInputEmail1">Titulo</label>
            <input type="text" class="form-control" [(ngModel)]="data.titulo">
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-xs-3">
            <label for="exampleInputEmail1">Titulo</label>
            <input type="text" class="form-control" [(ngModel)]="data.titulo">
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-xs-3">
            <label for="exampleInputEmail1">Titulo</label>
            <input type="text" class="form-control" [(ngModel)]="data.titulo">
        </div>
    </div>
</div>